*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 750px;
    width: 800px;
    background-color: aqua;
    padding: 20px;
    margin: right 50px;
}
.box  h1,p{
    width: 250px;
    height: 200px;
    padding: auto;
    margin: auto;
    background-color: red;
    border-radius: ;
}